* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  object-fit: contain;
}
#btn-large-primary-outline-black {
  border-radius: 0;
  border: 1px solid #000;
  padding: 1rem 3rem;
  color: #000;
}
#btn-large-primary-contained-black {
  border-radius: 0;
  border: 1px solid #000;
  padding: 1rem 3rem;
  color: rgb(255, 255, 255);
  background-color: #000;
}
.plain-white-color-bg {
  background-color: #fff;
}
.primary-bg-color-off-white {
  background-color: #fff8f2;
}
.text-custom-width {
  h2 {
    max-width: 400px;
  }
}
.design1-properties {
  font-family: "Inter", sans-serif;
  #primary-bg-color {
    background-color: #fff8f2 !important;
  }
  #secondary-gradient {
    background: linear-gradient(125.95deg, #c700bf 10.95%, #7da900 100%),
      linear-gradient(341.1deg, #00c2ff 7.52%, #4e00b1 77.98%),
      linear-gradient(222.34deg, #a90000 12.99%, #00ffe0 87.21%),
      linear-gradient(130.22deg, #8fa600 18.02%, #5a31ff 100%);
    background-blend-mode: screen, color-dodge, color-dodge, normal;
  }
  h1 {
    font-size: clamp(24px, 10vw, 48px);
  }
  h3 {
    line-height: 1.5;
  }
  p {
    max-width: 800px;
    margin: 0 auto;
    line-height: 2;
  }
  .events {
    p {
      line-height: 1.5;
    }
  }
  main {
    .about-us {
      text-align: center;
      h2 {
        font-size: clamp(32px, 5vw, 48px) !important;
        line-height: 1.2;
        width: 80%;
        max-width: 800px;
        margin: 0 auto;
      }
    }
    .contact-us {
      h3 {
        font-size: clamp(18px, 10vw, 36px) !important;
        line-height: 1.2;
      }
      p {
        font-size: clamp(18px, 10vw, 24px) !important;
        line-height: 1.5;
        max-width: 450px;
      }
    }
  }
}
