* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  object-fit: contain;
}

#btn-large-primary-outline-black {
  border-radius: 0;
  border: 1px solid #000;
  padding: 1rem 3rem;
  color: #000;
}
#btn-large-primary-contained-black {
  border-radius: 0;
  border: 1px solid #000;
  padding: 1rem 3rem;
  color: rgb(249, 249, 249);
  background-color: #000;
}

#btn-large-primary-outline-white {
  border-radius: 0;
  border: 1px solid #fff;
  padding: 1rem 3rem;
  color: #fff;
}
#btn-large-primary-contained-white {
  border-radius: 0;
  border: 1px solid #fff;
  padding: 1rem 3rem;
  color: rgb(6, 6, 6);
  background-color: #fff;
}
.primary-bg-image {
  background-image: url("https://images.unsplash.com/photo-1588541389843-868adb1998a2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1331&q=80");
  background-repeat: no-repeat;
}
.plain-white-color-bg {
  background-color: #fff;
}
.bg-color-brown {
  // background-color: #272822;
}
.primary-bg-color-off-white {
  background-color: #f5f2ef;
}
.primary-color-text-custom {
  color: #6c50ca;
}
.success-color {
  color: #4caf50;
}
.design1-properties {
  .secondary-color-text {
    color: #960071 !important;
  }
  .side-border-left {
    border-left: 5px solid #a5d8ff;
  }

  .width-90 {
    max-width: 90% !important;
    margin: 5rem auto;
  }
  .text-custom-width {
    p,
    h2 {
      max-width: 400px;
      line-height: 28px !important;
    }
  }
  .service-img {
    border-radius: 5px;
    max-width: 90% !important;
    object-fit: contain;
    margin: 0 auto;
  }
  font-family: "Inter", sans-serif;

  .primary-bg-color {
    background-color: #fff8f2 !important;
  }
  #primary-bg-color {
    background-color: #fff8f2 !important;
  }
  #secondary-gradient {
    background: linear-gradient(125.95deg, #c700bf 10.95%, #7da900 100%),
      linear-gradient(341.1deg, #00c2ff 7.52%, #4e00b1 77.98%),
      linear-gradient(222.34deg, #a90000 12.99%, #00ffe0 87.21%),
      linear-gradient(130.22deg, #8fa600 18.02%, #5a31ff 100%);
    background-blend-mode: screen, color-dodge, color-dodge, normal;
  }
  .gradient-geometric {
    background: linear-gradient(125deg, #ffffff 0%, #000000 100%),
      linear-gradient(
        200deg,
        #ffd9e8 0%,
        #ffd9e8 50%,
        #de95ba calc(50% + 1px),
        #de95ba 60%,
        #7f4a88 calc(60% + 1px),
        #7f4a88 75%,
        #4a266a calc(75% + 1px),
        #4a266a 100%
      ),
      linear-gradient(
        113deg,
        #ffd9e8 0%,
        #ffd9e8 40%,
        #de95ba calc(40% + 1px),
        #de95ba 50%,
        #7f4a88 calc(50% + 1px),
        #7f4a88 70%,
        #4a266a calc(70% + 1px),
        #4a266a 100%
      );
    background-blend-mode: overlay, overlay, normal;
  }
  h1 {
    font-size: clamp(24px, 10vw, 72px);
  }
  h2 {
    font-size: clamp(18px, 2vw, 32px);
    line-height: 1.7;
  }

  h3 {
    line-height: 1.5;
  }
  p {
    max-width: 800px;
    margin: 0 auto;
    line-height: 2;
  }
  .events {
    p {
      line-height: 1.5;
    }
  }
  main {
    .about-us {
      text-align: center;
      h2 {
        width: 90%;
        max-width: 800px;
        margin: 0 auto;
      }
    }
    .contact-us {
      h3 {
        font-size: clamp(18px, 10vw, 36px) !important;
        line-height: 1.2;
      }
      p {
        font-size: clamp(18px, 10vw, 24px) !important;
        line-height: 1.5;
        max-width: 450px;
      }
    }
  }
}
.profile-info {
  padding-left: 2.5rem;
  h3 {
    margin-bottom: 0 !important;
  }
  p {
    height: 25px;
  }
}
//design 3

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.design3-properties {
  .secondary-color-text {
    color: #960071 !important;
  }
  font-family: "Playfair Display SC", serif;
  color: #ffffff !important;
  p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li {
    color: #ffffff !important;
    letter-spacing: 1.05px !important;
  }
  p {
    color: #ffffffb3 !important;
    letter-spacing: 1.05px !important;
  }

  .side-border-left {
    border-left: 5px solid #a5d8ff;
  }

  .width-90 {
    max-width: 90% !important;
    margin: 5rem auto;
  }
  .carousel {
    color: #000 !important;
  }
  .text-custom-width {
    p,
    h2 {
      max-width: 400px;
      line-height: 28px !important;
    }
  }
  .service-img {
    border-radius: 5px;
    max-width: 90% !important;
    object-fit: contain;
    margin: 0 auto;
  }
  .primary-bg-color {
    background-color: #000000 !important;
  }
  #primary-bg-color {
    background-color: #fff8f2 !important;
  }
  #secondary-gradient {
    background: linear-gradient(125.95deg, #c700bf 10.95%, #7da900 100%),
      linear-gradient(341.1deg, #00c2ff 7.52%, #4e00b1 77.98%),
      linear-gradient(222.34deg, #a90000 12.99%, #00ffe0 87.21%),
      linear-gradient(130.22deg, #8fa600 18.02%, #5a31ff 100%);
    background-blend-mode: screen, color-dodge, color-dodge, normal;
  }
  .gradient-geometric {
    background: linear-gradient(125deg, #ffffff 0%, #000000 100%),
      linear-gradient(
        200deg,
        #ffd9e8 0%,
        #ffd9e8 50%,
        #de95ba calc(50% + 1px),
        #de95ba 60%,
        #7f4a88 calc(60% + 1px),
        #7f4a88 75%,
        #4a266a calc(75% + 1px),
        #4a266a 100%
      ),
      linear-gradient(
        113deg,
        #ffd9e8 0%,
        #ffd9e8 40%,
        #de95ba calc(40% + 1px),
        #de95ba 50%,
        #7f4a88 calc(50% + 1px),
        #7f4a88 70%,
        #4a266a calc(70% + 1px),
        #4a266a 100%
      );
    background-blend-mode: overlay, overlay, normal;
  }
  h1 {
    font-size: clamp(24px, 10vw, 72px);
  }
  h2 {
    font-size: clamp(18px, 5vw, 46px);
    line-height: 1.7;
  }

  h3 {
    line-height: 1.5;
  }
  p {
    max-width: 800px;
    margin: 0 auto;
    line-height: 2;
  }
  .events {
    p {
      line-height: 1.5;
    }
  }
  main {
    .about-us {
      text-align: center;
      h2 {
        width: 100%;
        margin: 0 auto;
      }
    }
    .contact-us {
      h3 {
        font-size: clamp(18px, 10vw, 36px) !important;
        line-height: 1.2;
      }
      p {
        font-size: clamp(18px, 10vw, 24px) !important;
        line-height: 1.5;
        max-width: 450px;
      }
    }
  }
}
